h2{
    font-family: '8-bit Limit (BRK)' !important;
    font-size: 70px !important;
    letter-spacing: 3px !important;
}

.tableblock {
    font-size: 30px !important;
    width: 200px;
}

p{
    font-size: 30px;
}